<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-8N5UgxGg0FPl3yxO7-PwIECMAKAETrA&callback=initMap" async defer></script>

<div class="container  main-background">
  <div class="row main-container">
    <aside class="col-4">
      <div class="profile-user-details">
        <div id="course-image">
          <img class="profile-user-image" src="/img/no-image-found.jpg" />
        </div>
        <div class="course-textbox">
          <div id="course-name">
            <p >Course Name: ...</p>
          </div>
          <div id="course-location">
            <p >Course Location: ...</p>
          </div>
          <div id="course-difficulty">
            <p >difficulty: ...</p>
          </div>
          <div id="course-about">
            <p >Course Review: ...</p>
          </div> 
          </a><button>Subscribe</button>
        </div>
      </div>
 
    <div class="col-6">
    <div id="street-map" class="street-results-map">
      No map available 
    </div>
    
    </main>
     </div>
  </div>
</div>



<script src="/js/course.js"></script>
