<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-8N5UgxGg0FPl3yxO7-PwIECMAKAETrA&callback=initMap" async defer></script>

<div class="container main-background">
  <div class="row">
    <div class="col-3">
      <h4>Type in a Course</h4>
      <input id="address" type="text" size="20" placeholder="Enter address here" />
      <br />
      <div>
      <button id="btn">Search</button>
      <br />
          <h4>Located in: </h4>
            <input type="text" id="full-address" size="20" readonly />
      </div>
      </div>



    <div class="col-6">
     <div class="profile-street-btn">
        <span><a href="/courses/new">Add New Course</a></span> 
      </div>
      <div id="map" class="map-find"></div>
      <div id="marker-tooltip" class="marker-tooltip-find"></div>
     

  </div>

  <div class="col-3">
<p>Explore world-famous courses!</p>
     <ul class="explore-course-list">
        <li>
          <a href="/courses/render/1">The Ocean Course </a>
        </li>
        <br />
        <li>
          <a href="/courses/render/3">Waban Course</a>
        </li>
        <br />
        <li>
          <a href="/courses/render/53">Augusta National</a>
        </li>
        <li>
          <a href="/courses/render/54">River Course</a>
        </li>
      </ul>
    </div>
    </div>
    
  </div>
  
</div>

<script src="/js/find.js"></script>



