<!-- <h1>Profile page</h1> -->

<div class="container main-background">
  <div class="row main-container">
    <aside class="col-4 profile-user-details">
      <div id="user-image">
        <img class="profile-user-image" src="/img/no-image-found.jpg" />
      </div>
      <div class="profile-user-data">
        <div id="user-fullname">
          <p >Name: ...</p>
        </div>
        <div id="user-username">
          <p >My Username: ...</p>
        </div>
        <div id="user-avgscore">
          <p >My avgscore: ...</p>
        </div>
        <div id="user-homecourse">
          <p >Home Course: ...</p>
        </div> 
        <div id="user-email">
          <p >My email: ...</p>
        <div id="user-avgscore">
          <p >My Avgscore: ...</p>
        </div>
        <a href="/users/current/edit">Edit Profile</a>

      </div>
        
      
    </aside>
    <div class="col-8">
      <div class="profile-street-btn">
        <span><a href="/find">Find new street </a></span>
        <span><a href="/streets/new">Create new </a></span> 
      </div>
        
     <!--  <h3>myStreets: </h3> -->
      

    <div class="container">
      <div id="street-list-row" class="street-results row">
      
      </div>
    </div>  
    </div>
  </div>
</div>



<script src="/js/profile.js"></script>
