<main class="container putting">
  <div class="row main-container">
    <div class="col-12">
      <form class="enter-score" action="/scores" method="post">
        <label class="form-block">
        <h3>Enter Score</h3>
          <input type="date" name="date" size="25" placeholder="Pick a date" required/>
        </label><br />
        <label class="form-block">
          <input type="text" name="coursename" size="25" placeholder="What Course?" required/>
        </label><br />
        <label class="form-block">
          <input type="text" name="courselocation" size="25" placeholder="Enter Course Location" />
        </label><br />
        <label class="form-block">
          <input type="number" name="shot" size="25" placeholder="Enter most recent score" />
        </label><br />
        <button>Submit</button>
      </form>
      </div>
  </div>
</main>

<script src="/js/score.js"></script>
