    <div class="container">
    <div class="col-4">
    <p class="score-info">Here you will be able to find all your previous scores. Add them Up to update your Handicap!</p>
    <br />
    <br />
    <div class="handicap">
    <p>Current Handicap:   <span id="current">4</span></p>
    <br />
    <p>Enter More Scores? <a href="/scores/new">Input Score</a></p>
    <br />
    <p>Need a Tee Time? <a href="https://www.golfnow.com/">Book Here</a></p>
    </div>
    </div>
    <div class="col-6">
      <div class="profile-street-btn">
        <span><a href="/find">Search Courses </a></span>
        <span><a href="/courses/new">Add to Course Wish List </a></span>
        <span><a href="/scores">Past Scores</a></span> 
      </div>
      

    <div class="container">
      <div id="score-list-row" class="score-results row">
      
      </div>
    </div>  
    </div>
    </div>

 
<script src="/js/score.js"></script>
