    <div class="container">
    <div class="col-12">
      <div class="profile-street-btn">
        <span><a href="/find">Search Courses </a></span>
        <span><a href="/courses/new">Add to Course Wish List </a></span>
        <span><a href="/scores">Past Scores</a></span> 
      </div>
      

    <div class="container">
      <div id="score-list-row" class="score-results row">
      
      </div>
    </div>  
    </div>
    </div>

 
<script src="/js/score.js"></script>
